@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  padding: 0;
  margin: 0;
font-family: "Nunito", sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
}
/*Top Search bar that appear after touch magnify btn*/
.searchBar{
  background-color: white;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  border-bottom: solid 1px black;
  display : none;
}
.searchBar #searchInput{
  width: 75%;
  height: 45px;
  outline: none;
  border: none;
  margin: 10px;
  font-size: 18px;
  padding-left: 20px;
}
.searchBar i{
  margin: 20px;
  font-size: 25px;
}
/*Top Nav baaar Where place Magnify icon*/
.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  }
.nav .fa-bars{
  margin: 20px 30px;
  font-size: 25px;
  
}
.nav .fa-magnifying-glass{
  margin: 20px 30px;
  font-size: 25px;
  color: black;
}
/*Secondary top Nav baar Heading of current page*/
.navv{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  }
.navv h1{
  font-size: 25px;
  margin-left: 30px;
  
  color: #000000;
}
/* BOTTOM NAV BAR */
.bottomNavBar{
  height: 60px;
  width: 350px;
  position: fixed;
  z-index: 9999;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #4d4d4d;
}
.bottomNavBar i:hover{
  background: linear-gradient(90deg, #00c6ff ,#0072ff); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.bottomNavBar .bottomNav1{
  width: 270px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 2px 5px 0px #0000003c;
  border-radius: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottomNavBar .bottomNav2{
  width: 60px;
  height: 100%;
  background: linear-gradient(90deg, #00c6ff ,#0072ff);
  box-shadow: -2px 2px 5px 0px #0000003c;
  border-radius: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.bottomNavBar .bottomNav2 i:hover{
  background: linear-gradient(90deg, #fff ,#fff); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.bottomPopupMenu{
  height: 300px;
  width: 350px;
  background: linear-gradient(90deg, #00c6ff ,#0072ff);
  position: fixed;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border-radius: 70% 30% 35% 65% / 74% 71% 29% 26%;
  box-shadow: -2px 2px 5px 2px #0000003c;
  display: none;
}
.bottomPopupMenu .bottomPopupMenuDetails{
  position: absolute;
  color: white;
  right : 60px;
  bottom: 70px;
  font-size: 10px;
}
.bottomPopupMenu .bottomPopupMenuDetails a{
  color: white;
  font-size: 10px;
}


/*MAIN homeScreen OF PROJECT SECTION*/
.projectScreen{
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: white;
}
.projectScreen ul li{
  margin: 20px 30px;
  padding: 10px 0px;
 border-bottom: solid 0.5px lightgrey;
 list-style: none;
}
.projectScreen h2{
  margin: 0;
  font-weight: 550;
  color: #454444;
  font-size: 22px;
}
.projectScreen h5{
  font-size: 13px;
}
.projectScreen p , a, span{
  font-size: 12px;
}
.projectScreen ul li h2,h5,p,a{
  margin: 4px 0px;
}
.projectScreen a{
  text-decoration: none;
  color: #4286f4;
}
.emptyDiv{
  background-color: white;
  height: 150px;
}


/* PROFILE SCREEN  */
.profileScreen{
  position: absolute;
  top: 65px;
}

.profileScreen #profileDp{
  width: 80px;
  border-radius: 10px;
  margin: 5px 30px;
  margin-top: 10px;
}
.profileScreen #name{
  margin: 0px 30px;
  color: #454444;
}
.profileScreen #tagName{
  margin: 0px  30px;
  color: #4286f4;
}
.profileScreen #bio{
  margin: 5px 30px;
  font-size: 13px;
}
.profileScreen .smIcons{
  margin: 5px 30px;
  font-size: 25px;
}
.profileScreen .smIcons .fa-instagram{
 background: linear-gradient(135deg,#feda75, #fa7e1e,#d62976,#962fbf); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 20px;
}

.profileScreen .smIcons .fa-telegram{
  color: #24a1de;
  font-size: 20px;
}
.profileScreen .smIcons .fa-youtube{
  color: #e62117;
  font-size: 20px;
}
.smbox{
  display: flex;
  align-items: center;
}
.smbox p{
  font-size: 13px;
  margin-left: 5px;
  color: #4d4d4d;
  font-weight: 600;
}
.profileScreen #displayImg{
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  margin-top: 30px;
}
/*INFO SCREEN*/
.infoScreen{
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: white;
}

.infoScreen ul li{
  margin: 20px 30px;
  padding: 10px 0px;
 border-bottom: solid 0.5px lightgrey;
 list-style: none;
}
.infoScreen h2{
  margin: 0;
  font-weight: 550;
  color: #454444;
  font-size: 22px;
}
.infoScreen h5{
  font-size: 13px;
}
.infoScreen p , a, span{
  font-size: 12px;
}
.infoScreen ul li h2,h5,p,a{
  margin: 4px 0px;
}
.infoScreen a{
  text-decoration: none;
  color: #4286f4;
}
.emptyDiv{
  background-color: white;
  height: 150px;
}

